<div class="p-2">
    <p>
        <a asp-controller="Home" action="Index">
            Home
        </a>
    </p>
</div>
<div class="p-2">
    <p>
        <a asp-controller="App" action="Index">
            App
        </a>
    </p>
</div>