<div class="p-2">
    <p>
        <a action="NewDevice">
            New Device
        </a>
    </p>
</div>
<div class="p-2">
    <p>
        <a action="ViewDevices">
            View Device
        </a>
    </p>
</div>