@using HealthTracker.Entities.Dto.Device

<div>
    <div>
        <h1>
            Device Details - @ViewBag.DeviceName
        </h1>
        <p>
            Device Guid - @ViewBag.DeviceGuid
        </p>
        <div class="d-flex justify-content-end">
            <div class="btn-group">
                <a href="/Esp32SoruceCode/HealthTrackerESP32.zip" class="btn btn-success">Download Esp32 Code and Change <i class="fa-solid fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="d-flex align-content-center justify-content-center">
        <div class="p-3">
            <!-- Spo2 Bpm -->
            <canvas id="Spo2Bmp" width="500" height="500"></canvas>
        </div>
        <div class ="p-3">
            <!-- Temp Humidty -->
            <canvas id="TempHumidty" width="500" height="500"></canvas>
        </div>
    </div>
    <div>
        <script>
            var last = 25;

            var DateValue = [];
            var Spo2BmpChart;
            var Spo2Values = [];
            var BmpValues = [];
            var TempHumidtyChart;
            var TempValues = [];
            var HumidtyValues = [];

            function crateChart() {
                Spo2BmpChart = new Chart("Spo2Bmp", {
                    type: "line",
                    data: {
                        labels: DateValue,
                        datasets: [{
                            label: "Bmp",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(209, 30, 6,0.7)",
                            borderColor: "rgba(209, 30, 6,1)",
                            data: BmpValues
                        }, {
                            label: "Spo2",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(7, 40, 184,1.0)",
                            borderColor: "rgba(7, 40, 184,0.6)",
                            data: Spo2Values
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            y: {
                                suggestedMin: 0,
                                suggestedMax: 100
                            }, x: {
                                type: 'time',
                                time: {
                                    parser: 'YYYY-MM-DDTHH:mm:ss.SSSSSSS',
                                    tooltipFormat: 'DD MMM YYYY, HH:mm:ss',
                                    unit: 'hour',
                                },
                                title: {
                                    display: true,
                                    text: 'Tarih'
                                }
                            },
                        }
                    }
                });
                TempHumidtyChart = new Chart("TempHumidty", {
                    type: "line",
                    data: {
                        labels: DateValue,
                        datasets: [{
                            label: "Temp",
                            yAxisID: 'temp',
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(9, 219, 139,0.5)",
                            borderColor: "rgba(9, 219, 139,0.6)",
                            data: TempValues
                        }, {
                            label: "Humidty",
                            yAxisID: 'humidty',
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(201, 8, 204,0.5)",
                            borderColor: "rgba(201, 8, 204,0.6)",
                            data: HumidtyValues
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            temp: {
                                type: 'linear',
                                position: 'left',
                                ticks:
                                {
                                    beginAtZero: true,
                                    color: 'rgba(9, 219, 139,1)'
                                },
                                suggestedMin: 20,
                                suggestedMax: 40
                            },
                            humidty: {
                                type: 'linear',
                                position: 'right',
                                ticks:
                                {
                                    beginAtZero: true,
                                    color: 'rgba(201, 8, 204,1)'
                                },
                                grid: {
                                    drawOnChartArea: false
                                },
                                suggestedMin: 0,
                                suggestedMax: 100
                            }, x: {
                                type: 'time',
                                time: {
                                    parser: 'YYYY-MM-DDTHH:mm:ss.SSSSSSS',
                                    tooltipFormat: 'DD MMM YYYY, HH:mm:ss',
                                    unit: 'hour',
                                },
                                title: {
                                    display: true,
                                    text: 'Tarih'
                                }
                            },
                        }
                    }
                });
            }

            function updateChart(){
                Spo2BmpChart.data.labels = DateValue;
                Spo2BmpChart.data.datasets[0].data = BmpValues;
                Spo2BmpChart.data.datasets[1].data = Spo2Values;
                Spo2BmpChart.update();
                TempHumidtyChart.data.labels = DateValue;
                TempHumidtyChart.data.datasets[0].data = TempValues;
                TempHumidtyChart.data.datasets[1].data = HumidtyValues;
                TempHumidtyChart.update();

            }
            function getNewData(){
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    url: 'http://' + window.location.host + '/api/Device/datas?Length=' + last,
                    headers: {
                        'Device-Guid': '@ViewBag.DeviceGuid',
                    },
                    success: function (response) {
                        DateValue = [];
                        Spo2Values = [];
                        BmpValues = [];
                        TempValues = [];
                        HumidtyValues = [];
                        $.each(response, function (k, v) {
                            DateValue.push(v["dateTime"]);
                            Spo2Values.push(v["spo2"]);
                            BmpValues.push(v["bpm"]);
                            TempValues.push(v["temp"]);
                            HumidtyValues.push(v["humidity"]);
                        });
                        updateChart();
                    }
                });
            }

            $(function () { 
                crateChart();
                getNewData();
                setInterval(function () {
                    getNewData();
                },5000);
            });
           
        </script>
    </div>
</div>