

<div class="d-flex flex-wrap justify-content-center">
    <div class="w-100 border-1 border-bottom mb-3">
        <h2 class="text-center">
            Welcome Health Tracker
        </h2>
        <h5 class="px-5">
            What do you want
        </h5>
    </div>
    <div class="ActionBox">
        <div class="card">
            <a class="card-body" asp-action="New">
                <h5 class="text-center m-5"><i class="fa-solid fa-plus fa-2xl CardIcon"></i></h5>
                <h6 class="card-title mb-2 text-body-secondary">New Device</h6>
            </a>
        </div>
    </div>
    <div class="ActionBox">
        <div class="card">
            <a class="card-body" asp-action="View">
                <h5 class="text-center m-5"><i class="fa-solid fa-chart-column fa-2xl CardIcon"></i></h5>
                <h6 class="card-title mb-2 text-body-secondary">View Devices</h6>
            </a>
        </div>
    </div>
</div>